.wow {
    visibility: visible;
    animation: fadeInUp 0.4s initial;
    font-size: 16px;
    color: white;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}



.v-center {
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    background-image: url(../../assets/bg-Photoroom.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.spacer-10 {
    width: 100%;
    height: 10px;
    display: block;
    clear: both;
}

.text-changer {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    display: inline-block;
    white-space: nowrap;
    color: white;
}

.dynamic-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(20, end);
    font-size: 60px;
    color: white;
}

.blinking-cursor {
    display: inline;
    animation: blink-cursor 1s step-end infinite;
}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-cursor {
    50% {
        opacity: 0;
    }
}

.spacer-single {
    width: 100%;
    height: 30px;
    display: block;
    clear:both;
}

.info {
    position: absolute;
    right: 5rem;
    color: white;
}

h6 {
    color: white;
}
