.about-body {
    height: 665px;
    background-color: #151b22;
}

h5 {
    font-size: 10px;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 5px 15px;
    
}

.fadeInUp {
    animation: fadeInup;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.about-section {
    position: relative;
    top: 13vh;
    height:89%;
    background-color: #0c1d33;
}

.about-title {
    color: black;
    background-color: white;
    border-radius: 250px;
    position: absolute;
    top: 10vh;
    font-size: small;
}

.greetings {
    position: absolute;
    top: 20vh;
    font-weight: bolder;
    font-size: 30px;
}

.img-container {
    position: absolute;
    top: 30vh;
}

.img-fluid {
    height: 300px;
    width: auto;
}