.contact-body {
    background-color:  #151b22;
    height: 665px;
}

.contact-section {
    position: relative;
    top: 13vh;
    background-color: #0c1d33;
    height: 89%;
}

.contact-title {
    color: black;
    background-color: white;
    border-radius: 250px;
    position: absolute;
    top: 10vh;
    font-size: small;
}

.spacer-single {
    width: 100%;
    height: 30px;
    display: block;
    clear: both;
}

.contact-header {
    position: absolute;
    top: 20vh;
}

.form-section {
    position: absolute;
    top: 30vh;
}

.details {
    position: absolute;
    right: 2px;
    top: 30vh;
}