.error-body {
    background-color:  #151b22;
    height: 665px;
    color: white;
}

.error-section {
    position: relative;
    top: 13vh;
    background-color: #0c1d33;
    height: 89%;
}

.error-container {
    position: absolute;
    top: 20%;
    left: 30%;
}

.error-header {
    color: white;
}
